body {
    overflow-x: hidden;
}

img {
    object-fit: cover;
}

.titre-type h2{
    font-size: 2.875rem;
  
    color: #ffffff;
    font-weight: 200;
    -webkit-text-stroke: 0.0938rem rgb(0, 0, 0);

    
}
.index{
    background: #0D0D0D;
}

header h1{
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.titre{
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}



a{
    text-decoration: none;
    color: #ffffff;
}


@media (max-width: 1000px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .menu a {
        color: #ffffff;
    }

 
    
}


@media (min-width: 1000px) {
    
    header{
        position: relative;
        top: 0;
        padding-top: 10px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-left: 15px;
        margin-right: 15px;
        align-items: center;
    }

    .menu-test li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: rgb(255, 255, 255);
    }

    .menu-test2 li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: rgb(255, 255, 255);
    }


}

.name-head a{
    color: rgb(255, 255, 255);
}



.hero {
    background-image: url('/assets/img/hero-image.webp');
    background-size: cover ; /* Set the size of the background image */
    background-position: top; /* Position the image at the top of the page */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    position: absolute; /* Needed for z-index to work */
    z-index: -1; /* Place the image behind everything else */
    top: 0; /* Position at the top of the page */
    left: 0; /* Position at the left of the page */
    width: 100%; /* Take the full width of the viewport */
    height: 100%; /* Take the full height of the viewport */
    object-fit: cover;
}
.hero-film {
    background-image: url('/assets/img/background-img-header.webp');
    background-size: cover ; /* Set the size of the background image */
    background-position: top; /* Position the image at the top of the page */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    position: absolute; /* Needed for z-index to work */
    z-index: -1; /* Place the image behind everything else */
    top: 0; /* Position at the top of the page */
    left: 0; /* Position at the left of the page */
    width: 100%; /* Take the full width of the viewport */
    height: 100%; /* Take the full height of the viewport */
    object-fit: cover;
}

.hero .h1 {
    font-size: 2rem;
 
    font-weight: 400;
    font-size: 64px;
}



.titre {
    font-family: "NunitoSans";
    font-variation-settings:  "wght" 1000, "wdth" 75, "opsz" 12, "YTLC" 540;
    display: flex;
    font-size: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation:reverse ;
    animation-name: slidein;
    animation-duration: 2s;
    color: rgba(0, 0, 0, 0.01);
    gap: 10px;
    padding-top: 128px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(253, 253, 253);
    text-shadow: 4px 7px 5px rgba(0, 0, 0);
    z-index: -1;


    
    
    
 
}



@keyframes slidein {
  100% {
    filter: opacity(0%);
    font-variation-settings: "wght" 539.41, "wdth" 96.31, "opsz" 6, "YTLC" 481.76;
  }


  0% {
    filter: opacity(100%);
    font-variation-settings: "wght" 1000, "wdth" 75, "opsz" 12, "YTLC" 540;
  }
}

@keyframes chevron-animation {
    0%, 100% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(20px);
    }
}

.chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: chevron-animation 2s infinite;
    z-index: -1;

}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.intro {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}

.intro-h1 {
    width: 209px;
    color: var(--white, #FFF);
    font-family: Satoshi;
    font-size: 43.569px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-left: var(--space4x);
    margin-top: var(--space7x);
    margin-bottom: var(--space6x);
}

.red-text {
    color: #C21A27;
}
.intro hr {
    width: 307px;
    color: #FFF;
}
.intro-text{
margin-left: 10%;
width: 307px;
color: var(--C8C8C8, #C8C8C8);
font-family: Helvetica;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

}


:root {
    /* Styles de couleur */
    --white: #ffffff;
    --black: #141414;
    --red: #C21A27;
    --grey: #C8C8C8;
    /* Tailles de police de caractère */
    --title-xxl: 2.25rem;
    --title-xl: 1.5rem;
    --title-lg: 1.125rem;
    --text-xxl: 3rem;
    --text-xl: 1.375rem;
    --text-md: 0.813rem;
    --text-sm: 0.688rem;
  
    /* Font variantes */
    --letter-spacing: 0.05em;
  
    /* Espaces */
    --space1x: 8px;
    --space2x: 16px;
    --space3x: 24px;
    --space4x: 48px;
    --space5x: 80px;
    --space6x: 100px;
    --space7x: 140px;
  }



  .article {
    background-color: var(--white);
    /*helvetica*/
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: var(--space7x);

    
  }

  .article-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }
.article-img {
    
    padding: var(--space3x);
    padding-top: var(--space4x); 
    padding-bottom: 0;
    margin: 0;
}

.article-legend {
    padding-left: var(--space3x);
    padding-bottom: var(--space4x);
    /*helvetica*/
    font-family: Helvetica;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--black);
  }
.article-text {
    padding: var(--space3x);
    margin: 0;
}
.article-titre {
    padding-left: var(--space3x);
    margin-top: 0;
}

.article-section {
    padding-bottom: var(--space4x);
}

.article-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-video {
    padding: var(--space3x);
    padding-top: var(--space4x); 
    padding-bottom: 0;
    margin: 0;
}