@import "header.css";
@import "component.css";
@import "main.css";
@import "normalize.css";
@import "footer.css";

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../font/Satoshi-Regular.woff") format("woff");
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

  @font-face {
     font-family: "NunitoSans";
     src: url("../font/NunitoSans.woff2") format("woff2-variations");
     font-display: swap;

 }

 @font-face {
  font-family:  "Helvetica Neue", "Helvetica";
  src: url("../font/Helvetica-Regular/Helvetica-Regular.otf") format("opentype");
  font-display: swap;
 }

 

